/* General Styles */
#root {
  display: flex;
  align-items: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #001f3f; /* Adjust as needed */
  margin: 0;
}

/* Navbar Styles */
.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  padding: 1rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: var(--navbar-link-color);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--navbar-link-hover-color);
}

/* Header and Footer */
header, footer {
  background-color: #ff6666;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer {
  padding-top: 0; /* Remove padding from the top */
  margin-top: 0; /* Remove margin from the top */
}

.donate-form {
  margin-bottom: 0; /* Remove margin from the bottom */
  padding-bottom: 0; /* Remove padding from the bottom */
}

