/* Tailwind CSS integration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the navbar */
.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}

.navbar a {
  color: var(--navbar-link-color);
}

.navbar a:hover {
  color: var(--navbar-link-hover-color);
}

.hero-carousel {
  height: 100%;
  width: 100%;
}

/* Custom styles for Our Impact section */
.impact-section {
  @apply w-full py-20 bg-pink-50;
}

.impact-container {
  @apply container mx-auto px-4 text-center;
}

.impact-grid {
  @apply grid gap-8 sm:grid-cols-2 lg:grid-cols-4;
}

.impact-card {
  @apply flex flex-col items-center bg-white p-6 rounded-lg shadow-md;
}

.icon {
  @apply text-pink-500 text-6xl mb-4;
}

.impact-number {
  @apply text-2xl font-bold mb-2;
}

.impact-text {
  @apply text-gray-600;
}
